:root {
    --text-grey: #515151;
    --text-black: #222222;
    --orange: #FFC53D;
    --white: #fff;
    --dark-orange: #FF9A3D;
    --bg-grey: #fafaff;
    font-size: 18px;
}

html {
    background-color: #fff;
    font-family: Raleway, 'Open Sans', sans-serif;
    max-width: 1440px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h3{
    color: var(--text-black);
    font-family: Ubuntu, 'Open Sans', sans-serif;
    font-size: 1.78rem;
}

/*----Navigation bar----*/

.Menu {
    position:relative;
    color: var(--text-grey);
    font-weight: bold; 
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr auto auto auto auto;
    grid-gap: 3%;
    height: 2rem;
    width: 94%;
    margin: 3% 3% 1% 3%;
 }

.Menu a {
    color: var(--text-grey);
}

.Menu p {
    font-size: 1.33rem;
}

/*----Main part----*/

.Header {
    position: relative;
    background-image: url('../images/CoverLayer.png'), url('../images/CoverPhoto.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex: 1;
    width: 100%;
    height: 40.62vw;
}

.Header h1{
    position: relative;
    color: var(--orange);
    font-size: 5.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.Header h2 {
    color: var(--white);
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0.5em;
    margin: 0;
}

.Header .SocialMedia {
    display: flex;
    width: 9rem;
    margin: 0px auto;
    justify-content: space-between;
    padding-bottom:9rem;
}

.Problem {
    background-color: var(--white);
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Problem p {
    color: var(--text-black);
    font-size: 2rem;
}

.ProblemButtons {
    display: flex;
    width: 28rem; 
    justify-content: space-around;
    margin: auto;
}

/*----About me section----*/

.AboutMe {
    display: flex;
    width: 86%;
    height: auto;
    margin: auto;
    padding: 1% 3%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
}

.AboutMe span {
    color: var(--text-black);
}

.PersonalInfo {
    color: var(--orange);
    font-weight: bold;
    flex: 2;
    padding: 1%;
}

.Profile {
    height: auto;
    width: 1rem;
    border-radius: 100%;
    flex: 1;
    padding: 1%;
}

.MoreInfo {
    color: var(--text-black);
    font-weight: normal;
    flex: 4;
    border-left: 3px dashed var(--orange);
    padding: 1%;
    line-height: 172.35%;
}

/*----Skills section----*/

.Skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.33rem;
    color: var(--text-black);
    margin: auto;
    width: 86%;
    height: auto;
    text-align: center;
    padding: 3%;
    box-shadow: 0em 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
}

.Skills span {
    color: var(--orange);
    font-weight: bold;
}

.Skill2 {
    border-left: 3px dashed var(--orange);
    border-right: 3px dashed var(--orange);
}

/*----Portfolio----*/

.Gallery {
    display: flex;
    flex-wrap: wrap;
    height:auto;
}

.Gallery h2 {
    color: var(--white);
    font-size: 2.22rem;
}

.Gallery p {
    color: var(--white);
    font-size: 0.89rem;
    line-height: 1rem;
}


.Img1, .Img5 {
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

.overlay {
    position: absolute;
    display: block;
    height:100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 3%;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
    opacity:0;
    transition: opacity 0.5s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

.Img5 .overlay {
    width: 50%;
}

/*----Contact----*/

.Contact {
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    margin: auto;
    width: 86%;
    height: auto;
    box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
}

.Instruction {
    background-color: var(--dark-orange);
    color: var(--white);
    padding: 2.5rem;
    line-height: 172.35%;
    box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.Instruction .Details {
    font-family: Ubuntu, 'Open Sans', sans-serif;
}

.Form {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.Form h3 {
    background-image: url('../images/Arr');
    background-size: auto 1.78rem;
    background-position: 0 0;
}

.Form input {
    color: #a0a0a0;
    font-family: Ubuntu, 'Open Sans', sans-serif;
    background-color: var(--bg-grey);
    border-radius: 0.83rem;
    line-height: 1.4rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0.5rem;
    border: none;
}

.Form .Message {
    flex: 3;
}

.From #Button {
    
}

/*----Footer----*/

/*----Button section----*/

#Button {
    background: linear-gradient(270deg, var(--orange) 14%, var(--dark-orange) 68.5%);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid linear-gradient(270deg, var(--orange) 14%, var(--dark-orange) 68.5%);
}

#Button:hover {
    background: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
    padding: 0.5rem 1.5rem; 
}

/*----Animations----*/

/*----Responsive Veb Design----*/

@media all and (min-width: 1440px) {
    .Header {
        height: 585px;
    }
}

@media all and (max-width: 992px) and (min-width: 768px) {
    .root{
        font-size: 16px;
    }
}

@media all and (max-width: 767px) {
    .root{
        font-size: 14px;
    }
}