:root {
    --text-grey: #515151;
    --text-black: #222222;
    --orange: #FFC53D;
    --white: #fff;
    --dark-orange: #FF9A3D;
    --bg-grey: #fafaff;
    font-size: 18px;
}

html {
    background-color: #fff;
    font-family: Raleway, 'Open Sans', sans-serif;
    max-width: 1440px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h3{
    color: var(--text-black);
    font-family: Ubuntu, 'Open Sans', sans-serif;
    font-size: 1.78rem;
    margin-top: 1rem;
}

/*----Navigation bar----*/

.Menu {
    position:relative;
    color: var(--text-grey);
    font-weight: bold; 
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr 3% auto 3% auto 3% auto 3% auto;
    grid-template-columns: 1fr auto auto auto auto;
    grid-gap: 3%;
    height: 2rem;
    width: 94%;
    margin: 3% 3% 1% 3%;
 }

.Menu a {
    color: var(--text-grey);
}

.Menu p {
    font-size: 1.33rem;
}

/*----Main part----*/

.Header {
    position: relative;
    background-image: url('../images/CoverLayer.png'), url('../images/CoverPhoto.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: 40.62vw;
}

.Header h1{
    position: relative;
    color: var(--orange);
    font-size: 5.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.Header h2 {
    color: var(--white);
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0.5em;
    margin: 0;
}

.Header .SocialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 9rem;
    margin: 0px auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom:9rem;
}

.Problem {
    background-color: var(--white);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.Problem p {
    color: var(--text-black);
    font-size: 2rem;
}

.ProblemButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 28rem; 
    -ms-flex-pack: distribute; 
    justify-content: space-around;
    margin: auto;
    margin-bottom: 2.89rem;
}

/*----About me section----*/

#AboutMe-Section{
    position: relative;
    display: block;
    padding: 0;
    border: 0.5px solid white;
    margin: 0 0 2rem 0;
}

#AboutMe-Section .Bg {
    position: absolute;
    height: 100%;
    width: 68%;
    left: 0;
    top:0;
    z-index: -1;
}

.AboutMe {
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 86%;
    height: auto;
    margin: 0 auto 4.2rem auto;
    padding: 1% 3%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
    box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
}

#AboutMe-Section h3 {
    position: relative;
    left: 10%;
    max-width: 90%
}

.AboutMe span {
    color: var(--text-black);
}

.PersonalInfo {
    color: var(--orange);
    font-weight: bold;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 1%;
}

#AboutMe-Section .Profile {
    height: auto;
    width: 100px;
    border-radius: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1%;
}

.MoreInfo {
    color: var(--text-black);
    font-weight: normal;
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    border-left: 3px dashed var(--orange);
    padding: 1%;
    line-height: 172.35%;
}

/*----Skills section----*/

#Skills-Section{
    position: relative;
    display: block;
    padding: 0;
    border: 0.5px solid white;
    margin: 0 0 2rem 0;
}

#Skills-Section .Bg {
    position: absolute;
    height: 100%;
    width: 68%;
    right: 0;
    top:0;
    z-index: -1;
}

#Skills-Section h3 {
    position: relative;
    left: 36%;
    max-width: 64%;
}

.Skills {
    background-color: var(--white);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.33rem;
    color: var(--text-black);
    margin: 0 auto 4.2rem auto;
    width: 86%;
    height: auto;
    text-align: center;
    padding: 3%;
    -webkit-box-shadow: 0em 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
    box-shadow: 0em 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
}

.Skills span {
    color: var(--orange);
    font-weight: bold;
}

.Skill2 {
    border-left: 3px dashed var(--orange);
    border-right: 3px dashed var(--orange);
}

/*----Portfolio----*/

#Portfolio-Section {
    margin-bottom: 4.2rem; 
}

#Portfolio-Section h3 {
    text-align: center;
}

.Gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.Gallery--h {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.Image {
    overflow: hidden;
    position: relative;
    display: block;
}

.Image--h {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    height: 250px;
    min-width: 150px;
}

.Img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    max-width: 100%;
}

.Gallery h2 {
    color: var(--white);
    font-size: 2rem;
}
.Gallery p {
    color: var(--white);
    font-size: 0.89rem;
}

.Img1, .Img5 {
    position: relative;
    padding: 0;
    margin: 0;
}

.overlay {
    position: absolute;
    display: block;
    height:96%;
    width: 96%;
    left: 0px;
    top: 0px;
    padding:2%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.5)), to(rgba(255, 154, 61, 0.5)));
    background: -o-linear-gradient(top, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
    opacity:0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

/*----Contact----*/

#Contact-Section {
    background-color: var(--bg-grey);
    border: 0.5px solid white;
}

#Contact-Section .ContactUs {
    position: relative;    
    left: 10%;
    max-width: 90%;
}

.Contact {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
    margin: 0 auto 4.2rem auto;
    width: 86%;
    height: auto;
    -webkit-box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
    box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
}

.Instruction {
    background-color: var(--dark-orange);
    color: var(--white);
    padding: 2.5rem;
    line-height: 172.35%;
    -webkit-box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
    box-shadow: 0.33rem 0.33rem 1.11rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Instruction .Details {
    font-family: Ubuntu, 'Open Sans', sans-serif;
    -webkit-box-flex:5;
    -ms-flex:5;
    flex:5;
}

.Instruction .SocialMedia {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.Instruction .Details {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.Form {
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.5rem;
    position:relative;
    height: auto;
}

.Form input {
    color: #a0a0a0;
    font-family: Ubuntu, 'Open Sans', sans-serif;
    background-color: var(--bg-grey);
    border-radius: 0.83rem;
    line-height: 1.4rem;
    padding: 0.3rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0.5rem;
    border: none;
}

.Form .Message {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.Form #Button {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-family: Raleway, 'Open Sans', sans-serif;
    font-size: 1rem;
}

/*----Footer----*/

.Footer{
    font-size: 0.78rem;
    text-align: center;
    margin: 2rem 0;
}

/*----Button section----*/

#Button {
    background: -webkit-gradient(linear, right top, left top, color-stop(14%, var(--orange)), color-stop(68.5%, var(--dark-orange)));
    background: -o-linear-gradient(right, var(--orange) 14%, var(--dark-orange) 68.5%);
    background: linear-gradient(270deg, var(--orange) 14%, var(--dark-orange) 68.5%);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

#Button:hover {
    background: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
    padding: 0.39rem 1.39rem; 
}

/*----Responsive Veb Design----*/

@media all and (min-width: 1440px) {
    .Header {
        height: 585px;
    }
}

@media all and (max-width: 991px) and (min-width: 768px) {
    .root{
        font-size: 16px;
    }

    /*---Nav bar---*/

    .Menu {
        font-size: 1.25rem;
    }

    /*---Header---*/
  
    .Header h1{
        font-size: 4rem;
    }

    .Header h2 {
        font-size: 2rem;
    }

    .Header .SocialMedia {
        width: 9rem;
        padding-bottom:3rem;
    }

    /*---About Me---*/

    .PersonalInfo {
        -webkit-box-flex: 0.67;
        -ms-flex: 0.67;
        flex: 0.67;
    }
    
    #AboutMe-Section .Profile {
        height: auto;
        width: 50px;
        -webkit-box-flex: 0.33;
        -ms-flex: 0.33;
        flex: 0.33;
    }
    
    .MoreInfo {
        color: var(--text-black);
        font-weight: normal;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        border-top: 3px dashed var(--orange);
        border-left: none;
    }

    /*---Contact---*/

    .Instruction {
        padding: 1.5rem;
    }

    .Instruction .SocialMedia {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 75%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media all and (max-width: 767px) and (min-width: 576px) {
    .root{
    font-size: 16px;
    }

    /*---Nav bar---*/

    .Menu {
        font-size: 1.25rem;
    }

    /*---Header---*/

    .Header h1{
        font-size: 4rem;
    }

    .Header h2 {
        font-size: 2rem;
    }

    .Header .SocialMedia {
        width: 9rem;
        padding-bottom:3rem;
    }

    /*---About Me---*/

    .PersonalInfo {
        -webkit-box-flex: 0.67;
        -ms-flex: 0.67;
        flex: 0.67; 
    }

    #AboutMe-Section .Profile {
        height: auto;
        width: 50px;
        -webkit-box-flex: 0.33;
        -ms-flex: 0.33;
        flex: 0.33;
    }

    .MoreInfo {
        color: var(--text-black);
        font-weight: normal;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        border-top: 3px dashed var(--orange);
        border-left: none;
    }

    /*---Contact---*/

    .Contact {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .Instruction {
        padding: 1.5rem;
    }

    .Instruction .SocialMedia {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .Form {
        padding: 1.5rem;
    }
}

@media all and (max-width: 575px) {
    .root{
        font-size: 16px;
    }

    /*---Nav bar---*/

    .Menu {
        font-size: 1rem;
    }

    .Menu p {
        font-size: 1rem;
    }
    

    /*---Header---*/
  
    .Header h1{
        font-size: 2rem;
    }

    .Header h2 {
        font-size: 1.5rem;
    }

    .Header .SocialMedia {
        width: 9rem;
        padding-bottom:1.5rem;
    }

    /*---Problem---*/
    
    .Problem p {
        font-size: 1.25rem;
    }

    .ProblemButtons {
        width: 24rem; 
    }

    /*---About Me---*/

    .PersonalInfo {
        -webkit-box-flex: 0.67;
        -ms-flex: 0.67;
        flex: 0.67;
    }
    
    #AboutMe-Section .Profile {
        height: auto;
        width: 50px;
        -webkit-box-flex: 0.33;
        -ms-flex: 0.33;
        flex: 0.33;
    }
    
    .MoreInfo {
        color: var(--text-black);
        font-weight: normal;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        border-top: 3px dashed var(--orange);
        border-left: none;
    }

    /*--Skills---*/

    .Skills {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0.33;
        -ms-flex: 0.33;
        flex: 0.33;
    }

    .Skill3 {
        padding-top: 3%;
    }
        
    .Skill2 {
        border-top: 3px dashed var(--orange);
        border-bottom: 3px dashed var(--orange);
        border-left: none;
        border-right: none;
        padding-top: 3%;
    }

    /*---Contact---*/
  
    .Contact {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .Instruction {
        padding: 1rem;
    }

    .Instruction .SocialMedia {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        flex: 1;
        display: flex;
        width: 50%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .Form {
        padding: 1rem;
    }
}